body { 
  font: 100% Arial, Helvetica, sans-serif;
  background-color: #FFBF00;;
  color: #010101;
}

form {
  width: 560px;
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #ddd;
  margin-left:auto;
margin-right:auto;
}
fieldset {
  width: 515px;
  background-color: #fcfeb1;
  border: 1px solid #ddd;
  padding: 20px;
  }
label {
  cursor: pointer;
  display: block;
}
.textfeld {
  width: 505px;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #999;
  margin-left:auto;
 margin-right:auto;

}
input{
  width: 255px;
  margin-top: 10px;
  border-radius: 2px;
  border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #999;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}


h1 {
text-align: center;
}
label {
text-align: center;
}


img.Bild  {
display:block;
width: 40%;
margin-left:auto;
margin-right:auto;
margin-bottom: 2em;
}
