body {
background-color: #FFBF00;
}
h1 {
text-align: center;
}

img.Bild  {
display:block;
width: 40%;
margin-left:auto;
margin-right:auto;
margin-bottom: 2em;
}

#legende1{
	text-align: center;
	
	}


